@font-face {
    font-family: 'windows95';
    src: url("../font/Windows95.woff");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'windows95';
    user-select: none;
}

html, body, main{
    height: 100%;
}

main{
    background-color: #007D7B;
    cursor: url("../cursor/Cursor79.cur"), auto;
}

.logonScreen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.programWindow{
    position: absolute;
}

.window{
    width: 25%;
    background-color: #BDBEBD;
    border-style: solid;
    border-width: 2px;
    border-left-color: #FAFAFA;
    border-top-color: #FAFAFA;
    /* top: calc(50% - 30px);
    left: calc((100% - 40%)/2); */
}

/* .allWindowPrograms{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100vh - 30px);
} */

.errorWindow{
    width: 40%;
}

.errorContent{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: center;
}

.windowHeader{
    background-image: linear-gradient(to right, #00047B, #4E99C6);
    margin: 1px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightButtons{
    display: flex;
    align-items: center;
}

.headerButtons{
    width: 25px;
    margin-left: 2px;
}

.windowTitle{
    padding: 2px;
}

.clouds{
    width: 100%;
    height: 70px;
    object-fit: cover;
    object-position: top left;
}

.usersList{
    margin: 10px;
}

.labelAboveWindow{
    padding-bottom: 2px;
}

.inputField{
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-top-color: #444444;
    border-left-color: #444444;
    border-right-color: #FBFBFB;
    border-bottom-color: #FBFBFB;
}

.inputField:focus{
    outline: none;
}

.disabledInputField{
    background-color: #BFBFBF;
    border-style: solid;
    border-width: 2px;
    border-top-color: #444444;
    border-left-color: #444444;
    border-right-color: #FBFBFB;
    border-bottom-color: #FBFBFB;
}

.selectWindow{
    height: 100px;
}

.selectOption{
    padding: 1px;
    background: #00007B;
    color: white;
}

.passwordField{
    margin: 10px;
}

.passwordInput{
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
}

.selectOption:hover, .button:hover{
    cursor: url("../cursor/middleFinger.cur"), auto;
}

.passwordInput:hover{
    cursor: text;
}

.button{
    box-sizing: border-box;
    background-color: #BDBEBD;
    border-style: solid;
    border-width: 2px;
    border-right-color: #444444;
    border-bottom-color: #444444;
    border-top-color: #FBFBFB;
    border-left-color: #FBFBFB;
    /* box-shadow: 0px 1px 1px 0px black; */
}

.px-80{
    width: 80px;
    height: 20px;
}

.pressedButton{
    box-sizing: border-box;
    border-left-color: #444444;
    border-top-color: #444444;
    border-bottom-color: #FBFBFB;
    border-right-color: #FBFBFB;
    padding-left: 2px;
    padding-top: 2px;
}

.buttonSelected{
    box-shadow: 0px 0px 0px 1px black;
}

.submitButtons{
    display: flex;
    justify-content: end;
    margin: 10px;
    margin-left: 5px;
}

/* Desktop */
.desktop{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
}

.desktopPrograms{
    height: calc(100% - 30px);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
}

#selectBox {
    border: 1px dashed #C2C6CA;
    position: absolute;
}

.taskbar{
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #C2C6CA;
    border-top: solid 2px #FBFBFB;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.taksbarRightInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-left-color: #444444;
    border-top-color: #444444;
    border-bottom-color: #FBFBFB;
    border-right-color: #FBFBFB;
}

.taskbarRightIcon{
    margin-right: 5px;
    width: 20px;
}

.verticalLineBlack{
    background-color: aliceblue;
    height: 90%;
    width: 2px;
    margin-left: 2px;
    box-shadow: inset black 1px 1px 2px;
}

.verticalLineWhite{
    background-color: #E5E5E5;
    height: 60%;
    width: 2px;
    margin-left: 2px;
    box-shadow: #a0a0a0 1px 0px 1px;
}

.startButton{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 90%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    margin-left: 2px;
}

.imgStartMenu{
    width: 20px;
    height: auto;
}

.program{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 5px;
    margin-bottom: 15px;
}

.program:hover{
    box-sizing: border-box;
    outline: 1px dashed #C2C6CA;
}

.imgProgram{
    width: 50px;
    margin-bottom: 5px;
}
.programText{
    color: white;
}

/* Miscellaneous */
.pl-5{
    margin-left: 5px;
}


/* CD PLAYER STYLES */
#playerRef {
    display: none;
}

#musicThumb {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#musicsList {
    width: 150px;
}

select {
    padding: 3px 4px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    background-color: #fff;
    box-sizing: border-box
}

select {
    border: none
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding-right: 32px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
    background-position: top 2px right 2px;
    background-repeat: no-repeat;
    border-radius: 0
}

select:focus {
    outline: none
}

select:focus {
    color: #fff;
    background-color: navy
}

select:focus option {
    color: #000;
    background-color: #fff
}

select:active {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h16v17H0V0zm1 16h14V1H1v15z' fill='gray'/%3E%3Cpath fill='silver' d='M1 1h14v15H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7H5v1h1v1h1v1h1v1h1v-1h1V9h1V8h1V7z' fill='%23000'/%3E%3C/svg%3E")
}

::-webkit-scrollbar {
    width: 16px
}

::-webkit-scrollbar:horizontal {
    height: 17px
}

::-webkit-scrollbar-corner {
    background: #dfdfdf
}

::-webkit-scrollbar-track {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E")
}

::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
    display: block
}

::-webkit-scrollbar-button:vertical:start {
    height: 17px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E")
}

::-webkit-scrollbar-button:vertical:end {
    height: 17px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E")
}

::-webkit-scrollbar-button:horizontal:start {
    width: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E")
}

::-webkit-scrollbar-button:horizontal:end {
    width: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E")
}